@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-black ">Pizza Uygulamamıza Hoş Geldiniz</h1>
    <h2>Sizin İçin Çok Lezzetli Razor Pizzalarımız Var!</h2>
       
    <img class="mainİmage" src="~/images/PizzaTime.jpg" />
    <br />
    <a class="text-dark btn btn-primary mt-2" asp-area="" asp-page="Checkout/Thankyou">Hadi Seçmeye Başlayalım</a>

</div>
