@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="maintext">
    <h1 class="display-4 text-black text-capitalize ">Pizza Uygulamamıza Hoş Geldiniz</h1>
    <h2 class="subtitle">Sizin İçin Çok Lezzetli Razor Pizzalarımız Var!</h2>

    </div>
   
       
    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br />
    <a class="text-dark btn btn btn-info" mt-2" asp-area="" asp-page="Checkout/Thankyou">Hadi Seçmeye Başlayalım</a>

</div>
