@page
@model PizzaDeliveryApp.Pages.PizzaModel
@{
}
  <div class="text-center">
      <div class="maintext">
              <h1 class="display-4 text-black text-capitalize ">Birbirinden Lezzetli Pizza Seçeneklerimize Göz Atın</h1>
              <h4>Seçiminizi yapın veya kendi pizzanızı yaratmayı deneyin! Daha sonra siprarişinizi verin ve arkanıza yaslanın :) </h4>
              <h4> Özenle seçilmiş malzemelerle en iyi şefler sizin için çalışıyor !</h4>
              <h4>Hayal kurmaya başlayabilirsiniz</h4>
              <br />
              <p class="smalltext"><i>Sipariş başına en fazla bir adet pizza seçebilirsiniz</i></p>
      </div>
    
    


  </div>
      
