@page
@model PizzaDeliveryApp.Pages.PizzaModel
@{
}
  
      <a class="nav-link text-dark" asp-area="" asp-page="Form/CustomPizza">CustomPizza</a>

   
      <a class="nav-link text-dark" asp-area="" asp-page="Checkout/Checkout">Checkout</a>
